<ion-list>

    <ion-list>
        <ion-list-header *ngIf="ordenes.length >0">
            Ordenes Activas
        </ion-list-header>
        <hr>
        <ion-list-header *ngIf="hayError" class="alert alert-danger">
            No hay Ordenes Disponibles
        </ion-list-header>



        <ion-item *ngFor="let item of ordenes " [routerLink]="[ '/ordenesDetalles',item.idorden ] ">
            <ion-avatar slot="start ">
                <img id="imgOrdenes" src="../../assets/icon/pedido.png">
                <!-- <img  " > -->
            </ion-avatar>
            <ion-label>
                <h2>Orden: {{item.idorden }}</h2>
                <h3>Nombre del Cliente: {{item.idorden}} </h3>
                <p>Direccion: {{item.Direccion}} </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-list>