<ion-header>
    <ion-toolbar color="primary">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon id="IconBack" name="arrow-back-outline"  (click)="irAtras()"></ion-icon>
                </ion-col>
                <ion-col size="9" class="ion-align-self-center">
                    <ion-title>
                        <ion-icon id="iconoCabecera" name="information-circle-outline"></ion-icon> Detalle de Orden
                      </ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-cliente></app-cliente>
</ion-content>