
  
  #logologin{
    font-size: 26px;
    position: relative;
    top: 5px;
  }
  
  #logologinButton{
    font-size: 35px;
    position: relative;
    bottom: 1px;
  }
  
  #logoLoginImage{
    text-align: center;
  }
  
  #GridLogin{
    position: relative;
    top: 10%;
    text-align: center;
  }
  
  #logo{
    width: 270px;
  }
  #cardLogins{
    width: 80%;
  }
  