<!-- <ion-content [fullscreen]="true">

  


    <ion-grid id="GridLogin">
        <ion-row>
            <ion-col>
                <img id="logo" src="../../assets/icon/logowebx2.png" />
                <form (ngSubmit)="ingresar()" autocomplete="off" class="mt-5">
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon id="logologin" name="person-circle-outline"></ion-icon> Usuario</ion-label>
                        <ion-input [(ngModel)]="user" name="user"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon id="logologin" name="key-outline"></ion-icon> Password</ion-label>
                        <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>
                    </ion-item>
                    <ion-button type="submit" class="mt-5" expand="block">
                        <ion-icon id="logologinButton" name="log-in-outline" [routerLink]="['/ordenes']"></ion-icon> Iniciar Sesión</ion-button>
                
                </form>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content> -->

<!-- <ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>


        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <div *ngIf="alert_noEntrar" class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                        <ion-icon id="logoAlert" name="alert-circle-outline"></ion-icon> Ingrese un Usuario o Contraseñas Correctos
                        <button type="button" (click)="error()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <ion-col>
                        <h1>Iniciar Sesión</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <form (ngSubmit)="ingresar()" autocomplete="off" class="mt-5">
                            <ion-list>

                                <ion-item>

                                    <ion-label position="floating">
                                        <ion-icon name="person" class="icon-login"></ion-icon>Usuario</ion-label>
                                    <ion-input [(ngModel)]="user" name="user"></ion-input>
                                </ion-item>
                                <br />
                                <ion-item>
                                    <ion-label position="floating">
                                        <ion-icon name="key-outline" class="icon-login"></ion-icon>Contraseña</ion-label>
                                    <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>
                                </ion-item>

                            </ion-list>
                            <ion-col>
                                <ion-button type="submit" fill="solid" expand="full" [routerLink]="['/ordenes']">
                                    Entrar
                                </ion-button>
                            </ion-col>
                        </form>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide> -->

<ion-header class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>Login</ion-title> -->
    </ion-toolbar>.
    <ion-button slot="start"></ion-button>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-card class="ion-no-margin">
        

        <ion-img class="prueba" src="../../assets/icon/header1.png"></ion-img>
        <ion-slide>
            <div class="contaier-login">
                <ion-img class="logo" src="../../assets/icon/logowebx1.png" alt=""></ion-img>


                <ion-card-content>

                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                      </svg>

                    <div *ngIf="alert_noEntrar" class="alert alert-danger d-flex align-items-center alert-dismissible fade show d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            Ingrese un Usuario o Contraseñas Correctos
                        </div>
                        <button type="button" (click)="error()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>

                    <form (ngSubmit)="ingresar()" autocomplete="off" class="mt-5">
                        <div class="wrapform">

                            <ion-item>
                                <ion-label position="floating">
                                    <ion-icon name="person" class="icon-login"></ion-icon>Usuario</ion-label>
                                <ion-input [(ngModel)]="user" name="user"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">
                                    <ion-icon name="key-outline" class="icon-login"></ion-icon>Contraseña</ion-label>
                                <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>
                            </ion-item>
                        </div>
                        <div class="sing-btn-wrap">
                            <ion-button type="submit" shape="round" fill="solid" expand="full" [routerLink]="['/ordenes']">
                                <ion-icon id="Icono" name="log-in-outline"></ion-icon>
                                Entrar
                            </ion-button>
                        </div>
                    </form>

                </ion-card-content>
            </div>
        </ion-slide>
    </ion-card>
</ion-content>