<ion-card *ngFor="let item of datos">
    <ion-item>
        <ion-label>#orden: {{item.orden}} </ion-label>

    </ion-item>
    <ion-item>

        <ion-label>Nombre: {{ item.nombre}} {{ item.apellido}} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label>Telefonos: {{ item.telefono }} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label>Metodo : {{item.metodo}} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label>TipoT: {{ item.TipoT }} </ion-label>

    </ion-item>
    <ion-item>

        <ion-label>Digitos: {{ item.Digitos}} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label>Total: ${{item.TotalO}} </ion-label>

    </ion-item>
    <ion-item>

        <ion-label>Verificado: {{item.Verificado}} </ion-label>

    </ion-item>
</ion-card>