<ion-card *ngFor="let item of datos" id="cardDetalles">
    <ion-item>
        <ion-label> <strong>Orden:</strong> {{item.orden}} </ion-label>

    </ion-item>
    <ion-item>

        <ion-label> <strong>Nombre:</strong> {{ item.nombre}} {{ item.apellido}} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label> <strong>Telefonos:</strong> {{ item.telefono }} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label> <strong>Metodo:</strong> {{item.metodo}} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label> <strong>TipoT:</strong> {{ item.TipoT }} </ion-label>

    </ion-item>
    <ion-item>

        <ion-label> <strong>Digitos:</strong> {{ item.Digitos}} </ion-label>

    </ion-item>

    <ion-item>

        <ion-label> <strong>Total:</strong> ${{item.TotalO}} </ion-label>

    </ion-item>
    <ion-item>

        <ion-label> <strong>Verificado:</strong> {{item.Verificado}} </ion-label>

    </ion-item>
</ion-card>